*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url('https://img.freepik.com/free-photo/abstract-2d-colorful-wallpaper-with-grainy-gradients_23-2151001649.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.col{
    margin-top: 30vh !important;
}
.reg{
    background-color: transparent !important;
}
.footer-content h2 { 
    color: #fff; 
} 

.footer-content h5, 
.footer-content p, 
.footer-links a { 
    color: #fff; 
} 

.footer-links a:hover { 
    text-decoration: underline; 
} 

.footer hr { 
    background-color: #fff; 
}